html {
    color-scheme: light dark;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Quicksand", sans-serif;;
}

main {
    width: 700px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
}

#consola {
    border: 1px solid red;
    width: 600px;
    height: 700px;
    background-color: red;
    border-radius: 10px;
}

#pantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    margin: 50px auto;
    background-color: beige;
    border: 1px solid beige;
    border-radius: 5px;

    user-select: none;
    -webkit-user-select: none;
}

#error {
    color: red;
}

#pokemonImg {
    width: 200px;
}

#pokeName {
    color: black;
    text-align: center;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 50px;
    gap: 100px;
}

#divInfo {
    width: 150px;
}

#divInfo > h1 {
    color: black;
    text-align: center;
}

#divInfo > p {
    color: black;
    margin: 20px auto;
    text-align: center;
}

#divType {
    width: 150px;
}

#divType > h1 {
    color: black;
    text-align: center;
}

#divType > p {
    width: 50%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
#controles {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
    
}

#busqueda {
    width: 100%;
    margin: auto;
    padding-left: 75px;
    display: flex;
    gap: 5px;
}

#pokemonName {
    height: 35px;
    width: 180px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    
}

#buscar {
    background-color: gray;
    border: 1px solid red;
    border-radius: 10px;
}

#buscar:active {
    background-color: darkgray;
}

.botonController {
    padding: 30px;
    height: 50px;
    border: 1px solid red;
    border-radius: 30px;
    background-color: gray;
}

.botonController:active {
    background-color:darkgray;
}